.new-game {
  margin-left: 45%;
  margin-top: 15%;
}

.play-page {
  margin-left: 45%;
}

#time {
  width: 200px;
  text-align: center;
}

.img img {
  width: 150px;
}

#img {
  width: 200px;
  height: 200px;
}

#play {
  width: 200px;
  margin-bottom: 10px;
}

table {
  margin-top: 20px;
}

table, td {
  border: 1px solid;
  text-align:  center
}

.submit-btn {
  display: none;
}

.hide {
  display: none;
}